.Navigation-container{
   display: flex;
   
}

.input-field-search-btn-container{
   display: flex;
   justify-content:flex-end;
   margin-right: 5em;

}

.TopNav-Main-Container{
   display:flex;
   justify-content: space-between; 
   padding: 3em;
   margin: 3em;
   
   
}
.logo{
   font-family:'Courier New', Courier, monospace;
   font-size: 1.5em;
   margin:1em;

}
