.EditorsPickAndTrending-main-container{
    display: flex;
    justify-content:relative;
    column-gap: 10em;
    
}
 .EditorsPick-main-container{
    display: flex;
    gap: 2em;
    
}
 .EditorsPickAndTrending-container{
    display: flex;
    margin-top: 5em;
}  
.EditorsPick-right-details-container{
    display: flex;
    align-items: center;

}
.image-from-props{
    width: 10em;
    height: 6em;
}