.editor-pick-and-trending-main-cntainer{
    display: flex;
  justify-content: center;
    padding: 1em;
  
}
.editor-main-container{
    display: flex;
    
   align-items: center;
    
}
.editor-left{
justify-items: center;
}
.editor-pic{
  height: 10em;
  width: 10em;
}

.title-and-description-container{
  width:30em;
  text-align: justify;
}
.figure-title-container{
  display: flex;
  width:30em;
}