 .contact-form-main-container{
    flex-wrap: wrap;
    padding: 0.2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; ;
     

}  
.fname-lname-container{
    display: flex;
    justify-content:center;
    gap: 3em;
}
.email-tel-container{
    display:flex;
    justify-content: center;
    gap: 3em;
}
.contact-us{
padding-left: 10em;
margin-top: 2em;
text-decoration: underline;

    
}
.message-button-container{
    margin-left:15em;

    
    
  
}
