
.politics-and-business-main-container{
     
    padding: 5em;
    
}
.politics-data-container{
    display:flex;
    flex-direction: column;
   text-align: justify;
   width: 50%;

}

.politics-image{
    width: 10em;
    height: 8em;
}
.politics-and-business-container{
    display: flex;
}