
.politics-and-business-main-container{
    display: flex;
     padding: 1em;
    justify-content:space-between;
    
}
.politics-container{
    display:flex;
    flex-direction: column;
   text-align: justify;
   

}
.politics-data-container{
    display: flex;
    padding:0.5m;
  
}
.politics-image{
    width:10em;
    height:8em;
}

/* .description-section{
    width:35em
} */
.business-main-container{
    display: flex;
    
}
.business-images{
    height: 8em;
    width: 10em;
}
.business-title-description-container{
    text-align: center;
   
}
