
.politics-and-business-main-containers{
     display: flex;
     padding: 5em;
     gap: 5em;
     justify-content: center;
    
}
.description-section{
    width: 39em;
}


.politics-image{
    width: 10em;
    height: 8em;
}
.politics-data-containers{
    display: flex;
    align-items: center;
}
.politics-containers{
    display: flex;
    flex-direction: column;
}