.footer-container{
    background-color: bisque;
    padding: 2em;
   
}
.footer-main-container{
    display: flex;
    justify-content:space-evenly;
    
  
} 
.mail-container{
    display: flex;
} 

.details-newsletter{
    display: block;
    width:25em;
    
}