.input-with-label-medium{
    padding:1em;
    font-size: 1em;
    width: 35em;
   border-radius: 2.5em;
}
.input-with-label-small{
    padding:1em;
    font-size: 1em;
    width: 10em;
   border-radius: 2.5em;
}
.input-with-label-large{
    padding:1em;
    font-size: 1em;
    width:50em;
   border-radius: 2.5em;
}